/* 	RESET	 */

*{
		box-sizing: border-box;
		
							
}
body{
	
		margin:0;
		padding:0;
		color:#000000;
		background-color: #D9DCD6;
		font-size:16px;
		font-family: 'Open Sans', sans-serif;
		
		
	}


a{
		text-decoration:none;
		color:#000000;
				
	}
	

ul{
		list-style:none;
				
	}
.container{
		width:%100;
		height:%100;
		
		}
		

	/* SHOWCASE */
	
/*---------------------------------------------------------------------------------------------------------------------------HEADER*/
/*   Navigation  */

.nav-main{
		
		display: -webkit-box;
		display: -ms-flexbox;
		display:flex;	
		position: fixed;
		top:0;
		left:0;
		height:110px;
		font-size:17px;
		width: 100%;
		background-color:transparent;   /*image: linear-gradient(to top, rgba(255,0,0,0), rgba(27,96,181,1) 10%);*/
		justify-content: space-between;
		align-items:center;
		color:white;
			
	}
.nav-main:focus{
		
		background-color:transparent;
	
		
}

	/* NAV LEFT */

/* logo */
.nav-brand{					
		width:18%;
		height:120px;
		padding:1% 0 ;
		opacity:1;
		

	}
/* titulo */
.nav-title{
		font-family: 'Rock Salt', cursive;
		font-size: 140%;
		letter-spacing: 5px;
		padding:1% 0;
		text-align:center;
		
}
.nav-title-res{
	
		display:none;
}

ul.nav-menu{
		display:flex;	
		color:white;
		margin:20px 0;
	}

ul.nav-menu li{
		padding:1%;
		color:white;
		
	}	
li a {
		color:white;	
		font-weight:500;
		 text-decoration: none;
		
	}

		
li a:hover{
		
		 background-color: #D9DCD6;
		color: black;
	
					
	}
	
li a:active{
		
		background-color: #81C3D7;
		color: white;
		
					
	}					




  /*-----------------------------------------*/

.dropdown {
		  position: relative;
		  display: inline-block;
}

.dropdown-content {
		display: none;
		position: absolute;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
}
.dropdown-content > a {
		background-color:grey;
		color:black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
}

.dropdown-content a:hover {
		background-color: rgba(27,96,181,1);
}

.dropdown:hover .dropdown-content {
		display: block;
}

.dropdown:hover .dropbtn {
		background-color: grey;
}
/*-------------------------------------------------*/


	
.showcase{
		
		display:flex;	
		width:100%;
		
		
		
		 /*no-repeat	 center center/cover;*/
				
	}

	
div.portada{
		display:flex;
		width:100%;
		min-height:110px;
		height:100vh;
		}
div.portadasinfoto{
		
		
		display:flex;
		width:100%;
		min-height:110px;
		
		
}		


img.showcase-portada{
		
		width:100%;
		padding:100px 0 0 0;
	
	
}

	
	
.btn{
		cursor:pointer;
		display:inline-block;
		border:0;
		font-weight:bold;
		padding:10px 20px;
		background:#16425B;
		color:#ffffff;
		border-radius:7px;
		border:1px solid #ffffff;
		margin:10px 0;
					
	}
	
.btn:hover{	
		opacity: .7;
		}
		
		
		
		

li.icon{
	
		display:none;
	
}




/*-----------------------------------------------------------------------------------------------------HEADER-----------------MAIN*/
main.main{
	
		
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
	display:   flex;

	z-index:1;

	
	
}

/*--------------------links directos------------	ATENCION!!!!!!EN DESUSO*/

div.links{
	
	display:flex;
	justify-content:space-around;
	
	
	
}
div.links a{
	padding:10px 20px;
	margin:0 10px;
	font-weight:400;
	color:white;
	box-shadow:5px 5px 5px grey;
	letter-spacing:4px;
	font-size:1.5rem;
	background-color:#2F6690;
	border-radius:10px;
}
div.links > a:hover{
	
	opacity:0.5;
	
}


		
/* -----------------------------------------------------------------NEW CARDS */
.news-cards	{
		display: -webkit-box;
		display: -ms-flexbox;
		display:flex;
		display:box;		
		padding:0 1%;
		flex:75;
		flex-direction:column;
		
		
	
		}	


.new{
		display:flex;
		display:-webkit-box;
		display:-webkit-flexbox;
		display:box;
		border-radius:15px;
		height:400px;
		background-color:white;
		font-size:10px;
		box-shadow: 10px 10px 10px grey;
		margin:1%;
		overflow:hidden;
		
}


/*------------------------------------------------------BLOG*/
article.blog{
		
		display:flex;
		width:100%;
		flex-flow:row wrap;
		
}
article.blogsinfoto{
		
		display:flex;
		width:100%;
		margin:10% 0 0 0;
		
		flex-flow:column wrap;
		
}

div.blog-left{
	
		
		flex:25;
		padding:2%;
		text-align:center;
	
}
div.blog-right{
		
		flex:25;
		padding:2%;
		text-align:center;
}

div.blog-center{
		
		display:flex;
		flex:50%;
		padding:1%;
		flex-direction:column;
		align-items:center;
		padding:20px;
		
		
	
}
div.blog-center p{
	
		
}
div.blog-center h2{
		
		font-size:36px;
		font-weight:800;
		width: 100%;
		display: block;
}

div.blog-center strong{
		
		
		width: 100%;
		display: block;
}

img.ruta-blog-img{
	
		width:100%;
		
	
}
img.img-blog{
	
		width:50vw;
}
		
/*-----------------------------------------------INICO-------BLOG*/

div.card{
	
		width:50%;
		padding:2% 4%;
		text-align:left;
		order:1;
		font-size:1rem;
		
		
}
div.card > h4{
	
		color:#16425B;
		margin:10px 0;
		font-weight:bold;
}
div.card > h2 {
		font-size: 36px;
		font-weight:800;
		margin:0;
		
			
}
div.card a.btn{
	
		box-shadow:5px 5px 5px grey;
		
}
img.img-inicio{	
		display:-webkit-flex;
		display:-webkit-box;
		display:flex;
		order:2;
		width:45%;
		
	}


figure {
		display: flex;
		flex-flow: column;
		
		width:100%;
		flex-flow:column nowrap;
	
}


figcaption {
		background-color: #222;			
		color: #fff;
		font: italic smaller sans-serif;
		padding: 3px;
		width:100%;
		text-align: center;
		width:100%;
}
	

/*		----------------------------------------ASIDE	*/
aside.main-aside{
		display:-webkit-flex;
		display:box;
		display:flex;
		flex:25%;
		height:auto;
		padding:4%;
		border-radius:10px;
		background-color:#81C3D7;
		margin:1% 0;
		box-shadow: 10px 10px 10px grey;
		
		
			
	}
.banner-blog{
	
		width:100%;
		background-color:#81C3D7;
		
		padding:5%;
		height:100%;

}	


	
/*------------------------------------------------------------------------------------------------------------------------FINMAIN*/
 
/*		SOCIAL			*/	
.follow{
		
		
		margin:50px;
		
		
}
.follow > p{
		
		text-align:center;
		font-size:25px;
		margin-bottom:20px;
		
}
.follow > p > span {
	
		font-family: 'Rock Salt', cursive;
		font-size: 20px;
}
.follow > div{
	
		
		display:flex;
		align-items:center;
		justify-content:center;
		
		
		
}
.follow > div > a{
		margin:0 10px;
		
}
.follow > div > a > i{
	
		font-size:3rem
}

/*		footer links		*/

footer{
		width:100%;
		display:flex;
		margin:10px 10px;
		flex-wrap:wrap;
		align-content:center;
		justify-content:space-around;
		background-color:#16425B;
		
		
}
footer > ul.links{
	
		
	
		
}
footer > ul > li > a{

		
		color: azure;
		font-size:12px;
		line-height:3;

}
@media (max-width:1000px){/*----------------------------------------------------------------------------------------CELULARRRRR*/
	
		/* 				BARRA DE MENU	------			 */
		nav.nav-main{

			width:100%;
			height:150px;
			justify-content:flex-start;
			
			
			
		}
		
	/*	titulo	*/
		div.nav-title{
			
			display:none;
		}
		div.nav-title-res{
			
			display:flex;
			font-size:35px;
			font-family: 'Rock Salt', cursive;
			letter-spacing: 5px;
			padding:1% 0;
			text-align:left;
		}
		.nav-brand{
			
			width:30%;
			padding:1%;
			margin:-1% 2%;
			

		}
		
		
	/*	menu responsise	*/
	
		
		ul.nav-menu{
			
			display:block;
			background-color:#2F6690;
			width:100%;
			z-index:2;
			position:absolute;
			top:0;
			right:0;
			z-index:50;
			
			
			}
		ul.nav-menu li.child{
			
			display: block;	
			font-size:30px;
			padding:3% 2%;
			border-bottom:2px solid black;
			
		}
		ul.nav-menu li:first-child{
		
			
			display: block;	
			width:15%;
			
			position:absolute;
			right:0;
			
		}
		
		
		
		ul.nav-menu li a,
		ul.nav-menu li div.dropbtn{
			
			  display: block;
			  color: #f2f2f2;
			  text-decoration: none;
			  font-size: 40px;
			  text-align:center;
			  
			
		}
		
			
		li a:hover{
			background-color:grey;
			
		}

		.nav-menu .responsive li.icon {
			position: absolute;
			right: 0;
			top: 0;
		  }
		.nav-menu.responsive li.child {
			display:none;
		  }
		  
		img.showcase-portada{
			height:100%;
		
		}
		div.portada{
			
			height:100%;
		}

	
		
		
		main.main{
			
			display:flex;
			flex-flow:column nowrap;
		}
		div.links a{
			font-size:2.3rem;
			
		}
		
		article.blog{
			flex-direction:column;
			order:2;
			
			
		}
		img.img-blog{
			
			width:100%;
		}
		aside.aside-main{
			
			order:1;
		}
} 	


@media (min-width:1800px){
	
		
		
		.nav-main{
			height:190px;
			width:100%;
			justify-content:space-around;
			
		}
		.nav-brand{	
			margin-left:10%;		
			width:10%;
			height:90%;
		}
		div.nav-title{
			
				display:none;
		}
		div.nav-title-res{
			
			display:flex;
			font-size:45px;
			font-family: 'Rock Salt', cursive;
			letter-spacing: 5px;
			padding:1% 0;
			text-align:center;
		}
		
		.nav-menu a.icon {
		float: right;
		display: block;
  }
		.showcase{
			
			padding: 0 10%;
		}
		main.main{
			padding:0 10%;
		}
		

		img.ruta-blog-img{
			
			display:flex;
			width:60%;
		}
		img.img-blog{
			width:45vw;
	
		}		
		
